body{
	padding-top:50px; 
}



#navbar{
	background: #000d1a;
}
/*header*/
#text11{
	color:#fff;
	text-align:center;
	font-size:34px;
	padding:0;
	text-shadow:2px 3px #008080;
	animation:animates linear 4s infinite;

}
@keyframes animates{
	0%{
		color:#e6ffe6;
		filter:contrast(40%);
		filter:saturate(700);

	}
	20%{
		color:#330011;
		filter:contrast(60%);
		filter:saturate(800);
		
	}
	45%{
		color:#0000cc;
		font-size:40px;
		filter:contrast(80%);
		filter:saturate(900);
		
	}
	60%{
		color:#00b3b3;
		filter:contrast(90%);
		
	}
	75%{
		color:#00b36b;
		filter:saturate(700);
		
	}
	90%{
		color:#4d0000;
		filter:saturate(500);
		
	}
	100%{
		color:#004d00;
		filter:saturate(2000);
		
	}
}


#text{
	background:#008080;
	color:#fff;
	font-size:20px;
	left:55px;
}
#sidebar{
	position:absolute;
	background:#1a1400;
	color:#fff;
	padding:9px 0;
	width:200px;
	height:495px;
	transition:all 800ms linear;
	margin-top:35px;
	left:-200px;
	z-index:100;
}
#sidebar ul li{
	list-style:none;
	padding:11px 0px;
	font-size:15px;
	border-bottom:2px solid #fff;
	cursor:pointer;
	z-index:100;
}
#sidebar ul li a{
	text-decoration:none;
}
#sidebar ul li:hover{
	background: #00cccc;
	color: #003300;
}

#sidebar.active{
	left:-31px;

}
.toggle-btn{
	position:absolute;
	left:200px;
	z-index:100;
	
}
.toggle-btn span{
	margin-bottom:49px;
	display:block;
	width: 40px;
	height:5px;
	background:#000000;
	z-index:100;
	overflow:visible;
	margin:10px 0px;
	padding:2px;
}
.container{
	padding: 0;
	display:flex;
	justify-content:center;
	align-items:center;
}
.button{
	width:30px;
	height:30px;
	border-top:2px solid black;
	position:relative;
	cursor: pointer;
	background:#fff;
	overflow:hidden;

}
.prev{
	border-left:1px solid black;
	left:5.58%;
	transform:rotate(-45deg);
	
}
.next{
	border-right:2px solid black ;
	right:99.55%;
	transform:rotate(45deg);
	
}
#slider1{
	width:1200px;
	height:530px;
	overflow:hidden;
	margin-left:30px;

}
.slide{
	width:calc(100%/5);
	height:100%;
	float:left;
	font-size:100px;
	color:black;
	display:flex;
	justify-content:center;
	align-items: center;
	
}
.inner-wrapper{
	width:500%;
	height:100%;
	position:relative;
	left:-100%;

}
/*Slide 001 customization*/
#slide1{
	background:#cceeff;
	padding-right:133px;
	background-attachment:fixed;
}
#need.active{
	background:#5c8a8a;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}
#need1.active{
	background:#133a26;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}


#need{
	margin-top:300px 0;
	padding-bottom:10px;
	background:#995c00;
	color:#fff;
	box-shadow:1px 1px green;
	visibility:hidden;

}
#need1{
	margin-top:300px 0;
	padding-bottom:10px;
	background:#007399;
	color:#4d0000;
	box-shadow:1px 1px  #ffb3d9;
	visibility:hidden;

}

#trigger{
	background:#00a3cc;
	width:400px;
	height:300px;
	border:10px solid black;
	visibility:hidden;
	margin-right:420px;

}
#trigger1{
	background:#53c68c;
	width:400px;
	height:300px;
	border:10px  solid #e6fff2;
	visibility:hidden;
	

}


#trigger:hover{
	visibility:visible;
}
#trigger1:hover{
	visibility:visible;
}

#need:hover{
	transform-style:preserve-3d;
	transform:perspective(80px)rotateX(22deg);
}
#need1:hover{
	transform-style:preserve-3d;
	transform:perspective(100px)rotateX(-16deg);
}

#but1{
	margin-top:400px;
	
}

.text4{
	font-size:40px;
	margin-top:30px;
	text-shadow:2px 3px #006666;
}
.text44{
	font-size:30px;
	margin-right:20px;
	text-shadow:2px 3px #006666;
}

.text5{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
.text55{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}

/*button 2..*/

#but2{
	height:35px;
	width:120px;
	font-size:20px;
	background:#00e6e6;
	color:#fff;
	text-align:center;
	margin-top:400px;

}


/*...*/

#text1{
	position:absolute;
	top:10%;
	transform:translate(10%,10%);
}
#text1 span{
	position:relative;
	color:#fff;
	font-family:sans-serif;
	font-weight:bold;
	letter-spacing:10px;
	text-transform:uppercase;
	font-size:30px;
	color:#fff;
	text-shadow:2px 3px #00b3b3;
	animation:animate 4s linear infinite;
}
@keyframes animate{
	0%{
		filter:blur(0px);
		color:#fff;
	}
	10%{
		filter:blur(0px);
		color:#803300;
	}
	30%{
		filter:blur(40px);
		color:#333333;
	}
	40%{
		filter:blur(45px);
		color:#009900;
	}
	50%{
		filter:blur(100px);
		color:#00394d;
	}
	60%{
		filter:blur(0px);
		color:#66004d;
	}
	70%{
		filter:blur(0px);
		color: #0f3d0f;
	}
	80%{
		filter:blur(0px);
		color: #999900;
	}
	100%{
		filter:blur(0px);
		color:#334d4d;
	}
	

}


/*Slide 002 customization*/
#slide2{
	background:#f2d9e6;
	
}

#need2.active{
	background: #00cc88;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}
#need3.active{
	background:#330022;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}


#need2{
	margin-top:300px 0;
	padding-bottom:10px;
	background:#00cc88;
	color:#fff;
	box-shadow:1px 1px green;
	visibility:hidden;

}
#need3{
	margin-top:300px 0;
	padding-bottom:10px;
	background: #ac3973;
	color:#fff;
	box-shadow:1px 1px  #ffb3d9;
	visibility:hidden;

}

#trigger2{
	background: #0073e6;
	width:400px;
	height:300px;
	border:10px solid black;
	visibility:hidden;
	margin-right:420px;

}
#trigger2:hover{
	visibility:visible;
}
#trigger22{
	background: #4dffd2;
	width:400px;
	height:300px;
	border:10px  solid #000000;
	visibility:hidden;
	transition:transform 10000ms ease-in-out;

}
#trigger22:hover{
	visibility:visible;
}


#need2:hover{
	transform-style:preserve-3d;
	transform:perspective(80px)rotateX(22deg);
}
#need3:hover{
	transform-style:preserve-3d;
	transform:perspective(100px)rotateX(16deg);
}

#but1{
	margin-top:400px;
	
}

.text6{
	font-size:40px;
	margin-top:30px;
	text-shadow:2px 3px #006666;
}


.text66{
	font-size:30px;
	margin-right:20px;
	text-shadow:2px 3px #006666;
}

.text5{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
.text55{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
#but2{
	height:35px;
	width:120px;
	font-size:20px;
	background:#00e6e6;
	color:#fff;
	text-align:center;
	margin-top:400px;

}


/*...*/

#text01{
	position:absolute;
	top:8%;
	transform:translate(1%,1%);
}
#text01 span{
	position:relative;
	color:#fff;
	font-family:sans-serif;
	font-weight:bold;
	letter-spacing:10px;
	text-transform:uppercase;
	font-size:30px;
	color:#fff;
	text-shadow:2px 3px  #ffffcc;
	animation:animated 7s linear infinite;
}
#text01 span:nth-child(1){
	animation-delay:.1s;
	color:#004d66;
	
}
#text01 span:nth-child(2){
	animation-delay:.2s;
	color:#520066;
}
#text01 span:nth-child(3){
	animation-delay:.3s;
	color:#662200;
}
#text01 span:nth-child(4){
	animation-delay:.4s;
	color:#26004d;
}
#text01 span:nth-child(5){
	animation-delay:.5s;
	color: #660000;
}
#text01 span:nth-child(6){
	animation-delay:.6s;
	color:#004466;
}
#text01 span:nth-child(7){
	animation-delay:.7s;
	color:#800080;
}
#text01 span:nth-child(8){
	animation-delay:.8s;
	color:#660033;
}
#text01 span:nth-child(9){
	animation-delay:.9s;
	color:#4d1a00;
}
#text01 span:nth-child(10){
	animation-delay:1s;
	color:#006666;
}
#text01 span:nth-child(11){
	animation-delay:1.1s;
	color:#196666;
}
#text01 span:nth-child(12){
	animation-delay:1.2s;
	color:#444422;
}
#text01 span:nth-child(13){
	animation-delay:1.3s;
	color:#660066;
}
#text01 span:nth-child(14){
	animation-delay:1.4s;
	color:#008000;
}
#text01 span:nth-child(15){
	animation-delay:1.5s;
	color:#264d00;
}
#text01 span:nth-child(16){
	animation-delay:1.5s;
	color:#4d004d;
}
#text01 span:nth-child(17){
	animation-delay:1.6s;
	color:#660000;
}
#text01 span:nth-child(18){
	animation-delay:1.7s;
	color:#006080;
}
#text01 span:nth-child(19){
	animation-delay:1.8s;
	color:#336600;
}
#text01 span:nth-child(20){
	animation-delay:1.9s;
	color:#3d3d29;
}
#text01 span:nth-child(21){
	animation-delay:2s;
	color: #006622;
}
#text01 span:nth-child(22){
	animation-delay:2.1s;
	color:#331f00;
}
#text01 span:nth-child(23){
	animation-delay:2.2s;
	color: #1a6600;
}
#text01 span:nth-child(24){
	animation-delay:2.3s;
	color:#4d4d00;
}
#text01 span:nth-child(25){
	animation-delay:2.4s;
	color:#00b3b3;
}


@keyframes animated{
	0%{
		filter:blur(0px);
		
	}
	10%{
		filter:blur(0px);
		
	}
	30%{
		filter:blur(20px);
		
	}
	40%{
		filter:blur(25px);
		
	}
	50%{
		filter:blur(30px);
		
	}
	60%{
		filter:blur(0px);
		
	}
	70%{
		filter:blur(0px);
		
	}
	80%{
		filter:blur(0px);
		
	}
	100%{
		filter:blur(0px);
		
	}
	

}

/*slide 03 customization*/
#slide3{
	background: #b3ffed;
	
}
#text02{
	position:absolute;
	top:8%;
	transform:translate(1%,1%);
}
#text02 span{
	position:relative;
	color:#fff;
	font-family:sans-serif;
	font-weight:bold;
	letter-spacing:10px;
	text-transform:uppercase;
	font-size:30px;
	color:#fff;
	text-shadow:2px 3px  #ffffcc;
	animation:animateds 6s linear infinite;
}
#text02 span:nth-child(1){
	animation-delay:.1s;
	color:#004d66;
	
}
#text02 span:nth-child(2){
	animation-delay:.2s;
	color:#520066;
	
}
#text02 span:nth-child(3){
	animation-delay:.3s;
	color:#662200;
	
}
#text02 span:nth-child(4){
	animation-delay:.4s;
	color:#26004d;
}
#text02 span:nth-child(5){
	animation-delay:.5s;
	color: #660000;
}
#text02 span:nth-child(6){
	animation-delay:.6s;
	color:#004466;
}
#text02 span:nth-child(7){
	animation-delay:.7s;
	color:#800080;
}
#text02 span:nth-child(8){
	animation-delay:.8s;
	color:#660033;
}
#text02 span:nth-child(9){
	animation-delay:.9s;
	color:#4d1a00;
}
#text02 span:nth-child(10){
	animation-delay:1s;
	color:#006666;
}
#text02 span:nth-child(11){
	animation-delay:1.1s;
	color:#196666;
}
#text02 span:nth-child(12){
	animation-delay:1.2s;
	color:#444422;
}
#text02 span:nth-child(13){
	animation-delay:1.3s;
	color:#660066;
}
#text02 span:nth-child(14){
	animation-delay:1.4s;
	color:#008000;
}
#text02 span:nth-child(15){
	animation-delay:1.5s;
	color:#264d00;
}
#text02 span:nth-child(16){
	animation-delay:1.5s;
	color:#4d004d;
}
#text02 span:nth-child(17){
	animation-delay:1.6s;
	color:#660000;
}
@keyframes animateds{
	0%{
		filter:blur(0px);
		
	}
	10%{
		filter:blur(0px);
		
	}
	30%{
		filter:blur(20px);
		
		
	}
	40%{
		filter:blur(25px);
	
	}
	50%{
		filter:blur(30px);
		
	}
	60%{
		filter:blur(0px);
		
		
	}
	70%{
		filter:blur(0px);
		
		
	}
	80%{
		filter:blur(0px);
		
	}
	100%{
		filter:blur(0px);
		
		
	}
	

}

#need4.active{
	background: #331900;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}
#need5.active{
	background:#00b8e6;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}


#need4{
	margin-top:300px 0;
	padding-bottom:10px;
	background:#995c00;
	color:#fff;
	box-shadow:1px 1px green;
	visibility:hidden;

}
#need5{
	margin-top:300px 0;
	padding-bottom:10px;
	background: #fff2e6;
	color:#fff;
	box-shadow:1px 1px  #ffb3d9;
	visibility:hidden;

}
#trigger3{
	background:#cc00cc;
	width:400px;
	height:300px;
	border:10px solid black;
	visibility:hidden;
	margin-right:420px;

}
#trigger3:hover{
	visibility:visible;
}
#trigger33{
	background:#33ffff;
	width:400px;
	height:300px;
	border:10px  solid #000000;
	visibility:hidden;
	transition:transform 10000ms ease-in-out;

}
#trigger33:hover{
	visibility:visible;
}


#need4:hover{
	transform-style:preserve-3d;
	transform:perspective(80px)rotateX(22deg);
}
#need5:hover{
	transform-style:preserve-3d;
	transform:perspective(100px)rotateX(16deg);
}

#but4{
	margin-top:400px;
	
}

.text8{
	font-size:30px;
	margin-top:25px;
	text-shadow:2px 3px #006666;
}


.text88{
	font-size:30px;
	margin-right:20px;
	text-shadow:2px 3px #006666;
}

.text9{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
.text99{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
#but5{
	height:35px;
	width:130px;
	font-size:20px;
	background:#00e6e6;
	color:#fff;
	text-align:center;
	margin-top:400px;

}




/*Slide 04 customization*/
#slide4{
	background:#ededde;
}
#text03{
	position:absolute;
	top:8%;
	transform:translate(1%,1%);
}
#text03 span{
	position:relative;
	color:#fff;
	font-family:sans-serif;
	font-weight:bold;
	letter-spacing:10px;
	text-transform:uppercase;
	font-size:30px;
	color:#fff;
	text-shadow:2px 3px  #ffffcc;
	animation:animatedd 4s linear infinite;
}
@keyframes animatedd{
	0%{
		filter:blur(0px);
		filter:saturate(10);
		color: #331100;
	}
	10%{
		filter:blur(0px);
		filter:saturate(20);
		color:#333300;
		
	}
	30%{
		filter:blur(20px);
		filter:saturate(30);
		color:#1f0033;
		
	}
	40%{
		filter:blur(25px);
		filter:saturate(40);
		color:#004d4d;
	}
	50%{
		filter:blur(30px);
		filter:saturate(50);
		color:#4d0026;
	}
	60%{
		filter:blur(0px);
		filter:saturate(60);
		color:#660000;
	}
	70%{
		filter:blur(0px);
		filter:saturate(70);
		color:#0f0f3d;
	}
	80%{
		filter:blur(0px);
		filter:saturate(80);
		color:#990033;
	}
	100%{
		filter:blur(0px);
		filter:saturate(100);
		color:#4d194d;
	}
	

}
#text03 span:nth-child(1){
	animation-delay:.1s;
	color:#004d66;
	
}
#text03 span:nth-child(2){
	animation-delay:.2s;
	color:#004d66;
	
}
#text03 span:nth-child(3){
	animation-delay:.3s;
	color:#004d66;
	
}
#text03 span:nth-child(4){
	animation-delay:.4s;
	color:#004d66;
	
}
#text03 span:nth-child(5){
	animation-delay:.5s;
	color:#004d66;
	
}
#text03 span:nth-child(6){
	animation-delay:.6s;
	color:#004d66;
	
}
#text03 span:nth-child(7){
	animation-delay:.7s;
	color:#004d66;
	
}
#text03 span:nth-child(8){
	animation-delay:.8s;
	color:#004d66;
	
}
#text03 span:nth-child(9){
	animation-delay:.9s;
	color:#004d66;
	
}
#text03 span:nth-child(10){
	animation-delay:1s;
	color:#004d66;
	
}
#text03 span:nth-child(11){
	animation-delay:1.1s;
	color:#004d66;
	
}
#text03 span:nth-child(12){
	animation-delay:1.2s;
	color:#004d66;
	
}
#text03 span:nth-child(13){
	animation-delay:1.3s;
	color:#004d66;
	
}#text03 span:nth-child(14){
	animation-delay:1.4s;
	color:#004d66;
	
}#text03 span:nth-child(15){
	animation-delay:1.5s;
	color:#004d66;
	
}#text03 span:nth-child(16){
	animation-delay:1.6s;
	color:#004d66;
	
}#text03 span:nth-child(17){
	animation-delay:1.7s;
	color:#004d66;
	
}#text03 span:nth-child(18){
	animation-delay:1.8s;
	color:#004d66;
	
}#text03 span:nth-child(19){
	animation-delay:1.9s;
	color:#004d66;
	
}#text03 span:nth-child(20){
	animation-delay:2s;
	color:#004d66;
	
}#text03 span:nth-child(21){
	animation-delay:2.1s;
	color:#004d66;
	
}#text03 span:nth-child(22){
	animation-delay:2.2s;
	color:#004d66;
	
}#text03 span:nth-child(23){
	animation-delay:2.3s;
	color:#004d66;
	
}#text03 span:nth-child(24){
	animation-delay:2.4s;
	color:#004d66;
	
}#text03 span:nth-child(25){
	animation-delay:2.5s;
	color:#004d66;
	
}#text03 span:nth-child(26){
	animation-delay:2.6s;
	color:#004d66;
	
}
#need6.active{
	background:#00e6e6;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}
#need7.active{
	background:#00b377;
	width:400px;
	height:300px;
	visibility:visible;
	transition:transform 500ms ease-in-out;
}


#need6{
	margin-top:300px 0;
	padding-bottom:10px;
	background:#995c00;
	color:#fff;
	box-shadow:1px 1px green;
	visibility:hidden;

}
#need7{
	margin-top:300px 0;
	padding-bottom:10px;
	background: #fff2e6;
	color:#fff;
	box-shadow:1px 1px  #ffb3d9;
	visibility:hidden;

}
#trigger4{
	background:#66ffcc;
	width:400px;
	height:300px;
	border:10px solid black;
	visibility:hidden;
	margin-right:420px;

}
#trigger4:hover{
	visibility:visible;
}
#trigger44{
	background:#adebeb;
	width:400px;
	height:300px;
	border:10px  solid #000000;
	visibility:hidden;
	transition:transform 10000ms ease-in-out;

}
#trigger44:hover{
	visibility:visible;
}


#need6:hover{
	transform-style:preserve-3d;
	transform:perspective(80px)rotateX(22deg);
}
#need7:hover{
	transform-style:preserve-3d;
	transform:perspective(100px)rotateX(16deg);
}

#but6{
	margin-top:400px;
	
}

.text10{
	font-size:30px;
	margin-top:25px;
	text-shadow:2px 3px #006666;
}


.text101{
	font-size:30px;
	margin-right:20px;
	text-shadow:2px 3px #006666;
}

.text11{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
.text111{
	text-align:center;
	color:#fff;
	text-shadow:1px 2px #e6e600;
}
#but7{
	height:35px;
	width:130px;
	font-size:20px;
	background:#00e6e6;
	color:#fff;
	text-align:center;
	margin-top:400px;

}
/*...course section*/
#img1{
	width:250px;
	height:200px;
}

/*...Featured packages*/
#featured{
	color:#1a0000;
	padding:10px;
	font-size:40px;
	animation:animating 4s linear infinite;	
}
@keyframes animating{
	0%{
		filter:blur(0px);
	}
	25%{
		filter:blur(25px);
	}
	50%{
		filter:blur(40px);
	}
	75%{
		filter:blur(0px);
		
	}
	100%{
		filter:blur(0px);
		
	}
}
#credit{
	margin-top:50px;
	background-color:#003333;
	color:#fff;
}
option{
	width:400px;
}
label{
	width:600px;
}

